.list{
  width:100%;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: flex-start;
  
  .list_goods{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    width: 48%;
    height:516rpx;
    box-sizing: border-box;
    border: 1px solid #ffbd60;
    border-radius: 10rpx 10rpx 10rpx 10rpx;
    margin-left: 8rpx;
    margin-right: 8rpx;
    margin-top: 10rpx;
    .list_img{
      width:100%;
      height:auto;
      
      image{
        width:100%;
        height: auto;
        vertical-align: middle;
      }
    }
    .list_text{
      .list_info{
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 30rpx;
      }
      .list_price{
        text-align: center;
        color: #ffbd60;
        .new_price{
          font-size: 30rpx;
          margin-right: 10rpx;
        }
        .old_price{
          text-decoration-line: line-through;
          color: #cdcdcd;
          font-size: 26rpx;
        }
      }
    }
  }
}